body { font-family: 'Source Sans Pro', serif; }
h1, h2, h3 {
  font-family: 'Source Sans Pro';
  font-weight: normal;
}

pre {background-color: #E7FFE3;}

h2 { font-size: 140%;}

div.slide h1 { font-size: 120%;
  font-weight: bold;}


div.kable-table	tr.header {
    background-color: #DBDBDB;  /* paper (darkened) */
    font-weight: bold;
	}


div.kable-table	tr.even {
    background-color: #F4F4F4;  /* paper */
    font-weight: bold;
	}
	
	
div.kable-table tr.odd {
	background-color: #fffae6;  /* silk (lightened) */
	font-weight: bold;
	}
	
	
div.kable-table td, th {
	padding-left: 25px;
	padding-right: 25px;
	}



/*  https://designschool.canva.com/blog/website-color-schemes/ */